@model RequestViewModel

@{
    ViewData["Title"] = "Request Management";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" asp-controller="Request" asp-action="Save">
            <hr />
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.From)
                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @value = "1" } })
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.To)
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @value = "1" } })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.RequestTypeId)
                @Html.DropDownListFor(model => model.RequestTypeId, new SelectList(ViewBag.RequestTypes, "Id", "Name"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-9">
                <textarea asp-for="Description" rows="5" style="width: 100%; border-radius: 5px;" placeholder="Description ..."></textarea>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </form>
    </div>
</div>