@model IEnumerable<RequestViewModel>

@{
    ViewData["Title"] = "My Requests";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Request Type</th>
                <th>From</th>
                <th>To</th>
                <th>Is Approved</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => request.RequestType)</td>
                    <td>@Html.DisplayFor(modelItem => request.From)</td>
                    <td>@Html.DisplayFor(modelItem => request.To)</td>
                    @if (request.IsApproved)
                    {
                        <td class="text-success font-weight-bold">True</td>
                    }
                    else
                    {
                        <td class="text-danger font-weight-bold">False</td>
                    }
                    <td>@Html.DisplayFor(modelItem => request.Description)</td>
                    @if (!request.IsApproved)
                    {
                        <td>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </td>
                        @await Html.PartialAsync("_DeleteActionPartial", new DeleteViewmModel()
                               {
                                   Id = request.Id,
                                   ControllerName = "Request"
                               })
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="text-right">
        @Html.ActionLink("New Request", "Add", "Request", null, new Dictionary<string, object>
           {
                { "class", "btn btn-primary" }
           })
    </div>
</div>