@model IEnumerable<RequestViewModel>

@{
    ViewData["Title"] = "Pending Requests";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Request From</th>
                <th>From</th>
                <th>To</th>
                <th>Request Type</th>
                <th>Description</th>
                <th></th>
            </tr>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => request.User)</td>
                    <td>@Html.DisplayFor(modelItem => request.From)</td>
                    <td>@Html.DisplayFor(modelItem => request.To)</td>
                    <td>@Html.DisplayFor(modelItem => request.RequestType)</td>
                    <td>@Html.DisplayFor(modelItem => request.Description)</td>
                    <td>
                        <form method="post" asp-controller="Request" asp-action="Approve">
                            <input type="hidden" name="requestId" value="@request.Id" />
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

