@model IEnumerable<DepartmentViewModel>

@{
    ViewData["Title"] = "Company Departments";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Employees Count</th>
                <th></th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => department.Name)</td>
                        <td>@Html.DisplayFor(modelItem => department.EmployeesCount)</td>
                        @if (User.IsInRole("administrator"))
                        {
                            <td class="col-md-1">
                                @Html.ActionLink("Edit", "Edit", new DepartmentViewModel() { Id = department.Id, Name = department.Name }, new { @class = "btn btn-success" })
                            </td>
                            @await Html.PartialAsync("_DeleteActionPartial", new DeleteViewmModel()
                            {
                                Id = department.Id,
                                ControllerName = "Department"
                            })
                        }
                    </tr>
                }
            }
        </table>
    </div>
    <div class="text-right">
        @if (User.IsInRole("administrator"))
        {
            @Html.ActionLink("Add Department", "Add", "Department", null, new Dictionary<string, object>
               {
                    { "class", "btn btn-primary" }
               })
        }
    </div>
</div>

