@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    bool areCurrent = Model.Any(e => e.IsActive);
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Employee</th>
                <th>Position</th>
                <th>Birthday</th>
                <th>In Company From</th>
                @if (!areCurrent)
                {
                    <th>In Company To</th>
                }
                <th>Department</th>
                <th>Description</th>
                @if (User.IsInRole("administrator"))
                {
                    <th></th>
                }
            </tr>
            @if (Model != null)
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@($"{employee.FirstName} {employee.LastName}")</td>
                        <td>@Html.DisplayFor(modelItem => employee.Position)</td>
                        <td>@Html.DisplayFor(modelItem => employee.DateOfBirth)</td>
                        <td>@employee.StartingDate?.ToString("dd MMM yyyy")</td>
                        @if (!areCurrent)
                        {
                            <td>@employee.InCompanyTo?.ToString("dd MMM yyyy")</td>
                        }
                        <td>@Html.DisplayFor(modelItem => employee.Department)</td>
                        <td>@Html.DisplayFor(modelItem => employee.Description)</td>
                        @if (areCurrent && User.IsInRole("administrator"))
                        {
                            @await Html.PartialAsync("_DeleteActionPartial", new DeleteViewmModel()
                               {
                                   Id = employee.Id,
                                   ControllerName = "Employee",
                                   IsEnabled = true
                               })
                        }
                    </tr>
                }
            }
        </table>
    </div>
    <div class="text-right">
        @if (User.IsInRole("administrator") && areCurrent)
{
            @Html.ActionLink("Add Employee", "Add", "Employee", null, new Dictionary<string, object>
   {
        { "class", "btn btn-primary" }
   })
}
    </div>
</div>